body {
	font-family: "Cuprum", "Arial", sans-serif;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


/* HEADER */

.main-header-top {
	background-color: #293449;
}

.header-logo {	
	float: left;
	width: 220px;
	min-height: 42px;	
	margin-right: 10px;

	/*временно для сетки*/
	background-color: #ee3643;
}

.search {	
	float: left;
	width: 240px;	
	min-height: 42px;	

	/*временно для сетки*/
	background-color: lightgreen;
}

.top-buttons {	
	float: right;
	width: 460px;
	min-height: 42px;	

	/*временно для сетки*/
	background-color: lightgreen;
}

.main-header-bottom {
	background-color: #f1f5f7;
}

.header-subtitle {	
	float: left;
	width: 310px;
	min-height: 158px;
	margin-right: 10px;

	/*временно для сетки*/
	background-color: lightblue;
}

.header-contacts {
	float: left;
	width: 310px;
	min-height: 158px;
	
	/*времено для сетки*/
	background-color: lightblue;
}

.header-user {
	float: right;
	width: 300px;
	min-height: 158px;		

	/*времено для сетки*/
	background-color: lightblue;
}


/* PROMO */

.promo-catalog {
	font-size: 0;
	padding: 0;

	/*временно для сетки*/
	background-color: lightblue;
}

.promo-catalog li {
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	width: 300px;
	height: 123px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.promo-catalog li:nth-child(3n) {
	margin-right: 0;
}

.promo-catalog .materials {
	background: #f6b22d url("../img/materials.png") 85% 50% no-repeat;
}

.promo-catalog .instruments {
	background: #4aafde url("../img/instruments.png") 85% 50% no-repeat;
}

.promo-catalog .technics {
	background: #cc79d1 url("../img/technics.png") 85% 50% no-repeat;
}

.slider {
	float: left;
	font-size: 16px;
	width: 620px;

	/*временно для сетки*/
	background-color: #eeeeee;
}

.slider-title {	
	font-size: 36px;
	line-height: 30px;
	color: #ffffff;
	margin: 0;
}

.slider-desc {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	margin: 0;
}

.slider figure {
	margin: 0;
}

.promo-offer {
	font-size: 0;
	margin-left: 620px;
	padding: 0;

	/*временно для сетки*/
	background-color: lightcyan;
}

.promo-offer li {
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	width: 300px;
	height: 123px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.promo-offer .discount {
	background: #85d179 url("../img/discount.png") 85% 50% no-repeat;
}

.promo-offer .delivery {
	background: #f6b22d url("../img/delivery.png") 85% 50% no-repeat;
}


/* POPULAR */

.popular-title {
	min-height: 89px;
	margin-bottom: 20px;
	background-color: #f7f3ec;
}


/* GOODS */

.popular-goods {
	font-size: 0;
}

.catalog-goods {
	float: right;
	width: 700px;
	font-size: 0;
}

.goods-item {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	text-align: center;
	width: 218px;
	min-height: 318px;	
	margin-right: 20px;	
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
}

.popular-goods article:nth-child(4n),
.catalog-goods article:nth-child(3n) {
	margin-right: 0;
}


/* BRANDS */

.brands {
	font-size: 0;
}

.brand {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	text-align: center;
	width: 218px;
	min-height: 80px;	
	margin-right: 20px;	
	margin-bottom: 20px;	
	padding: 33px 0 32px 0;
	border: 1px solid #e5e5e5;
}

.brand:nth-child(4n) {
	margin-right: 0;
}


/* SERVICES */

.services {
	background-color: #f2f6f8;
}

.services-left {
	float: left;
	width: 240px;
	min-height: 300px;	

	/*временно для сетки*/
	background-color: lightblue;
}

.services-right {
	float: right;
	width: 640px;
	min-height: 300px;

	background: url("img/delivery2.png") 100% 100% no-repeat;
	
	/*временно для сетки*/
	background-color: lightblue;
}

/* ABOUT COMPANY */

.about-left {
	float: left;
	width: 540px;
	min-height: 370px;	

	/*временно для сетки*/
	background-color: lightcyan;
}

.about-right {
	float: right;
	width: 300px;
	min-height: 370px;	

	/*временно для сетки*/
	background-color: lightcyan;
}


/* CATALOG.HTML */

.breadcrumbs {

	/*временно для сетки*/
	background-color: lightgreen;
}

h1 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	background-color: #f2f6f8;
	padding: 33px 0 35px 30px;
}


/* FILTER */

.filter {
	float: left;
	width: 220px;
	min-height: 750px;

	/*временно для сетки*/
	background-color: lightblue;
}

.filter fieldset {
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}


/* SORTING */

.sorting {
	float: right;
	width: 700px;
	margin-bottom: 20px;

	/*временно для сетки*/
	background-color: #f7f3ec;
}


/* PAGE NAVIGATOR */

.page-navigator {
	float: right;
	width: 700px;
	margin-bottom: 60px;

	/*временно для сетки*/
	background-color: lightcyan;
}


/* ABOUT GOODS */

.about-goods {
	min-height: 260px;

	/*временно для сетки*/
	background-color: #f2f6f8;
}

.about-goods b {
	font-size: 30px;
	text-transform: uppercase;
}

.about-goods p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
}


/* FOOTER */

.main-footer-top {
	background-color: #32425c;
}

.footer-logo {
	float: left;
	width: 220px;
	min-height: 63px;		

	/*временно для сетки*/
	background-color: #ee3643;
}

.footer-navigator {
	float: right;
	width: 670px;
	min-height: 63px;	
	margin: 0;

	/*временно для сетки*/
	background-color: lightgreen;
}

.footer-contacts {	
	float: left;
	width: 380px;
	min-height: 130px;	

	/*временно для сетки*/
	background-color: lightblue;
}

.footer-catalog {
	float: right;
	width: 510px;
	min-height: 130px;
	margin: 0;	

	/*временно для сетки*/
	background-color: lightblue;
}

.main-footer-bottom {
	background-color: #293449;
}

.footer-copyright {
	float: left;
	width: 380px;
	min-height: 107px;	
	margin-right: 10px;

	/*временно для сетки*/
	background-color: lightgreen;
}

.footer-social {
	float: left;
	width: 240px;
	min-height: 107px;
	margin-right: 10px;	

	/*временно для сетки*/
	background-color: lightgreen;
}

.footer-feedback {
	float: left;
	width: 150px;
	min-height: 107px;

	/*временно для сетки*/
	background-color: lightgreen;	
}

.footer-developer {	
	float: right;
	width: 140px;
	min-height: 107px;	
	
	/*временно для сетки*/
	background-color: lightgreen;
}